<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Update student</title></head>
<body>
<a href="/">Show Students</a>
<a href="/addStudent">Add Students</a>
<a href="/deleteStudent">Delete Students</a>

<h1>Form</h1>
<form action="#" th:action="@{/updateStudent}" th:object="${student}" method="post">
    <p>Id: <input type="text" th:field="${student.id}"/></p>
    <p>FirstName: <input type="text" th:field="${student.firstName}"/></p>
    <p>LastName: <input type="text" th:field="${student.lastName}"/></p>
    <p><input type="submit" value="Submit"/> </p>
</form>
</body>
</html>